
/* h1 {
font-size: 28px;
} */


/* main {
   padding-top: 10%;
   padding-bottom: 50px;
} */

/*  START HERE FOR PRODUCTS  */
* {
   padding: 0;
   margin: 0;
   /* box-sizing: border-box; */
}

html {
   width: 100vw;
   scroll-behavior: smooth;
}

body {
   padding-top: 5%;
   background-color: rgb(231, 233, 235);
   font-family: sans-serif;
   font-size: 17px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   /* padding-top: 10%; */
   padding-bottom: 50px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   align-items: center;
   justify-content: center;
   row-gap: 10vh;
   grid-column-gap: 5px; 
   height: 100%;
   padding-top: 3%;
 /* top: 50%;
 width: 50%;
 margin: 0 auto;
 align-items: center;
 justify-content: center; */
}

.product {
   display: grid;
   padding: 2em;
   margin: 16px;
   text-align: center;
   background: #fafafa;
   /* border: solid 1.5px #fff; */
   box-shadow: 0 2px 7px #dfdfdf;
   margin: 0 auto;
   box-sizing: border-box;
}

.product:hover {
   border: solid 1px rgb(126, 102, 97);
}

.product-list-container {
   /* display: flex;
   flex-direction: column; */
   margin-bottom: 30px;
 }

.product img {
   -webkit-filter: grayscale(70%);
   width: 310px;
   height: 460px;
   width: 91%;
   /* max-width: 100%; */
   border: solid 1.5px #fff;
   /* background-color: #c0bdbd; */
   background: #f0f0f0;
   padding:20px;
   margin-bottom: 0.9em;
}

.product img:hover {
   -webkit-filter: grayscale(40%);
}

.product h6 {
   margin: 0;
   color: #281a12;
   font-size: 1.3em;
   text-transform: uppercase;
   font-weight: bolder;
}

.product p {
   margin: 0;
   color:#564f4b;
   font-size: 0.78em;
   margin-top: 10px;
   margin-bottom: 10px;
}

.product p:nth-child(5) {
   margin: 0;
   color:#281a12;
   font-size: 1em;
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 10px;
}

/* BUTTON  */
/* ButtonStyles.css */

.btn {
   background: #a39f9e;
   border: 1.5px solid #9d9894; 
   color: #ffffff; 
   text-transform: uppercase;
   padding: 12px 20px;
   min-width: 200px;
   margin: 0 10px;
   cursor: pointer;
   transition: all .3s linear;
   position: relative;
 }
 
 .btn:hover {
   background: #000; 
   border-color: #000; 
   color: #fff; 
 }
 
 .btn::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: #8B4513; 
   width: 100%;
   z-index: -1;
   transition: all .3s linear;
   transform-origin: 0 0;
 }
 
 .btn1::before {
   transform: scaleX(0);
 }
 
 .btn1:hover::before {
   transform: scaleX(1);
   background: #000; /* Change the background color on hover to black */
 }
 

/* ------------------ MEDIA QUERY ----------------------*/

/* PHONE USAGE */
@media screen and (max-width: 400px) {
   .grid {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2vh;
   }

   .product {
      padding: 1em;
   }


   .product img {
      margin: auto 0;
      width: 90%;
      height: auto;
   }
}

/* TABLET USAGE */
@media screen and (min-width: 401px) and (max-width: 768px) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
   }

   /* .product {
      padding: 6em;

   } */

   .product img {
      width: 90%;
      height: auto;
   }
}

/* DESKTOP USAGE */
@media screen and (min-width: 769px) and (max-width: 1024px) {
   .grid {
      grid-template-columns: repeat(3, 1fr);
   }

      .product img {
         width: 95%;
         height: 95%;
      }
}


 /* -------------- END OF MEDIA QUERY --------------- */
